@using QuestionAppUI.Authentication;
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager

<AuthorizeView Roles="Admin">
    <a class="login-link" href="/AdminApproval">
        Admin   
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a href="/Profile">Hello, @context.User.Identity?.Name!</a>
        <a style="margin-left:10px;" href="/identiy/account/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
