@using QuestionAppUI.Authentication;
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager

<AuthorizeView Roles="Admin">
    <a class="login-link" href="/AdminApproval">
        Admin   
    </a>
</AuthorizeView>
<AuthorizeView Roles="Admin, User">
    <Authorized>
        <a class="login-link" href="/Profile">
            Profile
        </a>
        <a class="login-link" @onclick="Logout">
            Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="login-link" href="/SignIn">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)authProvider).UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}