@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
}

body {
    background: url(../images/backgroundQuestionApp.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%; 
}

h1 {
    padding-top: 1rem;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #FFFFFF;
    text-decoration:none;
}

    a:hover, .btn-link:hover {
    color:#FFFFFF;    
    text-decoration:underline;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid #26b050;*/
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.page-heading {
    text-align:center;
}

.login-form {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.question-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.question-btn {
    font-family: 'Montserrat', sans-serif;
    border-width: 3px;
    border-radius: 10px;
    padding-left:2rem;
    padding-right:2rem;
    font-weight:900;
}

.btn-outline-light:hover {
    color: #39BAD8;
    background-color:#FFFFFF;
    border-color:#FFFFFF;
}

.question-count {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.btn-order {
    background-color: #FFFFFF;
    border: 0px solid #DDDDDD;
    border-radius: 10px;
}

.btn:focus,
.form-control:focus {
    box-shadow:none;
}

.sort-selected {
    background-color: #DDDDDD;
    color: #000000;
    font-weight: 700;
}
    .sort-selected:hover {
        color: #000000;
    }

.search-box{
    --bs-gutter-x: 3.5rem;
}

.rounded-control {
    border-radius:10px;
}

.categories {
    margin:1rem;
    background-color:#ffffff;
    border-radius:10px;
    padding:1rem;
}

    .categories div {
    margin-top: 1rem; 
}

.categories div:hover{
    cursor:pointer;
}

.selected-category{
    font-weight:700;
}

.statuses {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
}

    .statuses div {
        margin-top: 1rem;
    }

        .statuses div:hover {
            cursor: pointer;
        }

.selected-status {
    font-weight: 700;
}

.question-entry {
    display:grid;
    grid-template-columns: 142px 1fr 45px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.question-entry-no-votes,
.question-entry-voted,
.question-entry-not-voted {
    text-align: center;
    border-right: 3px #39BAD8 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #39BAD8;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    min-height:142px;
    cursor:pointer;
}

.question-entry-no-votes {
    background-color:#DDDDDD;
    color:#FFFFFF;
    border-color:#DDDDDD;
}

.question-entry-voted {
    background-color: #39BAD8;
    color: #FFFFFF;
}

.question-entry-not-voted {
    background-color: #FFFFFF;
    color: #39BAD8;
}

.question-entry-text {
    display:flex;
    flex-direction:column;
    padding:10px;
    padding-left:20px;
    background-color:#FFFFFF;
}

.question-entry-text-title {
    flex-grow:1;
    padding-top:10px;
}

.question-entry-text-category {
    text-transform: uppercase;
    color: darkgray;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin-right:10px;
    display:flex;
    align-items:flex-end;
}

.question-entry-status {
    border-bottom-right-radius: 15px;
    border-top-right-radius:15px;
    display:flex;
    padding-top:1rem;
    padding-left:0.2rem;
    padding-bottom:1rem;
    padding-right:1rem;
}

.question-entry-status-complated {
    background-color: #B5D43A;
    border: 1px #B5D43A solid;
}

.question-entry-status-wathing {
    background-color: #E9354C;
    border: 1px #E9354C solid;
}

.question-entry-status-upcoming {
    background-color: #835581;
    border: 1px #835581 solid;
}

.question-entry-status-dismissed {
    background-color: #F9C30B;
    border: 1px #F9C30B solid;
}

.question-entry-status-none {
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
}

.question-entry-status-text {
    text-transform:uppercase;
    writing-mode:vertical-rl;
    text-orientation:mixed;
    color:#FFFFFF;
    padding:5px;
    text-align:center;
    line-height:1.75;
    font-weight:bold;
    font-size:0.8rem;
    letter-spacing:1.2px;
}

.nav-link {
    display:flex;
    text-align: center;
    justify-content:flex-end;
}

.login-link {
    padding-left: 1rem;
    
}

.form-layout{
    background-color:#FFFFFF;
    border-radius:15px;
    padding:2rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin:5px;
}

.form-layout a {
    font-weight:700;
    color:#39BAD8;
    text-decoration:underline;
}

.close-btn-section{
    display: flex;
    justify-content: flex-end;
}

.input-section{
    margin-bottom:2rem;
}

.input-description {
    margin-bottom: 0.5rem;
}

.radio-item-group input[type="radio"]{
    display:none;
    
}

.radio-item-group label{
    border-color:#39BAD8;
    border-width:1px;
    padding: 0.3rem 1.5rem;
    border-radius:10px;
    width:100%;
    border-style:solid;
}

.radio-item-group input[type="radio"]:checked + label {
    background-color: #39BAD8;
    color: #FFFFFF;
    width: 100%;
    border: 1px #39BAD8 solid;
}

.radio-item-group {
    margin:0.5rem;
}

.center-children{
    display:flex;
    justify-content:center;
}

.btn-main {
    color: #FFFFFF;
    background-color: #39BAD8;
    padding-left:2rem;
    padding-right:2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-radius:10px;
    border-width:3px;
}

    .btn-main:hover {
        color: #39BAD8;
        border-color: #39BAD8;
        background-color:#FFFFFF;
        border-width:3px;
    }

.question-detail-row{
    --bs-gutter-x:0;
}

.question-detail{
    display:grid;
    grid-template-columns:100px 1fr;
    padding:0;
}

.question-detail-no-votes,
.question-detail-not-voted,
.question-detail-voted{
    border: 3px solid #39BAD8;
    text-align: center;
    line-height: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
}

.question-detail-no-votes {
    background-color: #DDDDDD;
    color: #FFFFFF;
    border-color: #DDDDDD;
}

.question-detail-voted {
    background-color: #39BAD8;
    color: #FFFFFF;
}

.question-detail-not-voted {
    background-color: #FFFFFF;
    color: #39BAD8;
}

.detail-upvote {
    font-size:2.7rem;
}

.entry-upvote {
    font-size: 3rem;
}


.question-detail-date{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.question-detail-text{
    display:flex;
    flex-direction:column;
    padding-left:27px;
    padding-top:0;
    padding-right:10px;
    padding-bottom:10px;
}

.question-detail-question{
    font-size:1.25rem;
}

.question-detail-autor{
    color:#A9A9A9;
}

.question-results{
    display:grid;
    grid-template-columns:50px 1fr;
    padding: 0;
    margin-top:20px;
}

.question-detail-status-complated {
    background-color:#B5D43A;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.question-detail-status-wathing {
    background-color: #B5D43A;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.question-detail-status-upcoming {
    background-color: #835581;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.question-detail-status-dismissed {
    background-color: #F9C30B;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.question-detail-status-none {
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.question-detail-status-section {
    padding:1.5rem;

}

.question-deatail-status{
    flex-grow:1;
}

.question-detail-answer{
    padding-bottom:20px;
}

.submissions{
    background-color:#FFFFFF;
    border-radius:20px;
    padding:1rem;
    margin-bottom:1rem;
}
.btn-approve,
.btn-reject{
    width:100%;
    font-family: 'Montserrat', sans-serif;
    border-color:#FFFFFF;
}

.btn-approve{
    color:#FFFFFF;
    background-color:#B5D43A;
    border-color:#FFFFFF;
}
    .btn-approve:hover {
        color: #B5D43A;
        background-color: #FFFFFF;
        border-color: #B5D43A;
    }

.btn-reject {
    color: #FFFFFF;
    background-color: #E9354C;
    border-color: #FFFFFF;
}

    .btn-reject:hover {
        color: #B5D43A;
        background-color: #FFFFFF;
        border-color: #E9354C;
    }

.approval-edit-form{
    display:flex;
}

.approval-edit-field{
    flex:1;
    border-radius:10px;
}

.submission-edit-approve{
    color:#B5D43A;
}

.submission-edit-approve:hover {
    font-weight:700;
}

.submission-edit-reject {
    color: #E9354C;
}

    .submission-edit-reject:hover {
        font-weight: 700;
    }

.submission-edit-icon{
    padding-left:1rem;
    padding-right:1rem;
}

.submission-edit-icon:hover {
    color:#39BAD8;
}

.my-submission-heading{
    color:#000000;
    text-transform:uppercase;
}

.my-submissin-text{
    margin-bottom:0;
    padding-left:1rem;
}

.my-submission-separator {
    color: #A9A9A9;
    height: 2px;
    opacity: 1;
}

.question-entry-bottom {
    display:flex;
}

.btn-archive {
    border:0;
    background-color: #FFFFFF;
    padding:0 10px;
    flex: unset;
}
.btn-archive-confirm,
.btn-archive-reject {
    text-transform:uppercase;
    color:darkgray;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight:700;
    flex:1;
}
.btn-archive-confirm {
    color:#E9354C;
}

.admin-details {
    margin-top:20px;
}

.admin-set-statuses {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.bnt-status-completed:hover {
    color:#B5D43A;
}

.bnt-status-upcoming:hover {
    color: #E9354C;
}

.bnt-status-watching:hover {
    color: #835581;
}

.bnt-status-dismissed:hover {
    color: #F9C30B;
}

.right-children {
    margin-top:10px;
    display: flex;
    justify-content: right;
}

.radzen-editor {
    background-color:aliceblue;
    border-radius:10px;
    padding:5px;
}
.radzen-editor-clicked {
    height:200px;
}
.answer-placeholder {
    color:gray;
}
.form-layout-editor {
    padding-top:1rem;
    padding-bottom:1rem;
}
.answer-header {
    padding-bottom:1rem;
}

.answer-author {
}

.answer-date {
    color: #A9A9A9;
    padding-left: 0;
}

.question-separator {
    color: #A9A9A9;
    border-bottom: 2px #A9A9A9 solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.limiter {
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

    .limiter .bottom {
        position: absolute; /* Если прыгает - можно попробовать sticky */
        bottom: 0;
        background: linear-gradient( to bottom, rgb(193 193 193 / 0%), rgb(193 193 193)100%);
        width: 100%;
        height: 15px;
        opacity: 1;
        transition: 0.3s;
    }

.read-more-checker {
    opacity: 0;
    position: absolute;
}

    .read-more-checker:checked ~ .limiter {
        max-height: none;
    }

        .read-more-checker:checked ~ .limiter .bottom {
            opacity: 0;
            transition: 0.3s;
        }

    .read-more-checker ~ .read-more-button:before {
        content: "See more...";
    }

    .read-more-checker:checked ~ .read-more-button:before {
        content: "See less...";
    }

.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #777;
    text-decoration: underline;
}

.card {
    border: 0;
    font-weight: 400;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 12px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.chip,
.chips .input {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
}

.chip,
.pagination .page-item .page-link:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.success-color {
    background-color: #00c851 !important;
}

.question-card-header {
    font-size: 13px;
}

.question-card-header-date {
    padding-left: 5px;
    color: #b0b3bb;
}

.card-header {
    background-color:white;
    border-bottom:0;
}
.card-body {
    --bs-card-spacer-y: 10px;
    padding: 10px 15px;
}

.question-card-footer {
    display: flex;
}

.question-card-footer-tag {
    color: rgb(176 179 187);
    font-size:12px;
    font-weight: 700;
    padding-right: 10px;
}

    .question-card-footer-tag:hover {
        color: #444850;
    }

.question-card-footer-left {
    padding-right: 10px;
    color: #b0b3bb;
}

.question-card-footer-rigth {
    padding-left: 10px;
    color: #b0b3bb;
}

.more-icon:hover {
    color: rgb(0 120 212);
}

.thumb-up-icon:hover {
    color: rgb(0 120 212);
}

.thumb-up-icon-clicked {
    color: rgb(0 120 212);
}

.thumb-down-icon-clicked {
    color: red;
}

.material-symbols-outlined {
    color: rgb(0 120 212);
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

    .material-symbols-outlined:hover {
        color: rgb(0 120 212);
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
    }

.favorite-icon-clicked {
    color: rgb(0 120 212);
}

    .favorite-icon-clicked:hover {
        color: #cdced2;
    }

.answered-icon {
    color: rgb(0 120 212);
}

.question-card-header-user {
    padding-left: 5px;
    font-weight: 500;
    color: #444850;
    text-decoration: none;
}

    .question-card-header-user:hover {
        color: #444850;
        text-decoration: underline;
    }